## Importing Required Libraries

In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Getting URL

In [11]:
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_Indian_films'
page = requests.get(url)

## Creating BeautifulSoup object

In [12]:
soup = BeautifulSoup(page.content, 'html.parser')

## Finding Details of Movies

In [13]:
data = soup.find_all("tr")

## Looking into the Text

In [14]:
data[5].get_text()

'\n1\n\n1\n\nDangal\n\n2016\n\nNitesh Tiwari\n\nAamir Khan Productions  UTV Motion Pictures  Walt Disney Studios India\n\nHindi\n\n ₹2,024 crore (US$287 million)\n\n[9]\n'

## Creating Empty Lists

In [15]:
title = []
year = []
director = []
cast = []
money = []

## Loop to get top 5 Movies

In [16]:
for i in range(5, 10):
    details = data[i].get_text()
    a = details.split('\n\n')
    title.append(a[2])
    year.append(a[3])
    director.append(a[4])
    cast.append(a[5])
    money.append(a[-2])

## Converting Lists into DataFrame

In [17]:
df = pd.DataFrame(list(zip(title, director, year, money, cast)), 
                  columns = ['Movie', 'Director', 'Year', 'Overall Gross Earning', 'Cast'])

## Final Data

In [18]:
df

                         Movie  ...                                               Cast
0                       Dangal  ...  Aamir Khan Productions  UTV Motion Pictures  W...
1  Baahubali 2: The Conclusion  ...                                   Arka Media Works
2            Bajrangi Bhaijaan  ...  Salman Khan Films  Kabir Khan Films  Eros Inte...
3             Secret Superstar  ...                             Aamir Khan Productions
4                           PK  ...          Vinod Chopra Films  Rajkumar Hirani Films

[5 rows x 5 columns]